.headerBody {
  color: white;
  background-color: #1a1a1f;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.backToMenu {
  font-size: 25px;
  letter-spacing: 0.15em;
  line-height: 35px;
  width: 40rem;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
}

.nas {
  display: none;
}

.dou {
  display: none;
}

.backToMenu:hover .nas {
  display: block;
  overflow: hidden;
  letter-spacing: 0.15em;
  animation: typingNas 2s;
}
.backToMenu:hover .dou {
  display: block;
  overflow: hidden;
  letter-spacing: 0.15em;
  animation: typingDou 3.5s;
}

@keyframes typingNas {
  from {
    width: 0;
  }
  to {
    width: 27.57%;
  }
}

@keyframes typingDou {
  from {
    width: 0;
  }
  to {
    width: 35%;
  }
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-inline-start: 0;
  width: 13.5rem;
}

.list a {
  color: white;
  text-decoration: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about h1 {
  margin-block-end: 0.1em;
}

.about hr {
  background-color: white;
  margin-block-start: 0.2em;
  width: 5rem;
  height: 0.2rem;
}

.aboutOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70rem;
  padding-bottom: 3rem;
}

.aboutOptions div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
}
