@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.about {
  color: white;
  background-color: #1a1a1f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about h1 {
  margin-block-end: 0.1em;
}

.about hr {
  background-color: white;
  margin-block-start: 0.2em;
  width: 5rem;
  height: 0.2rem;
}

.aboutOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70rem;
  padding-bottom: 3rem;
}

.aboutOptions div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
}

.aboutOptions div button {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.2rem;
  border: none;
  color: white;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  transition: 0.5s color;
  cursor: pointer;
}

.aboutOptions div:hover button {
  color: rgb(220, 220, 220);
}

.sectionsContainer {
  color: white;
}

.resumeSection {
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.resumeSection p {
  text-indent: 1em;
  font-size: 1.2rem;
}

.journeySection {
  background-color: #1a1a1f;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 3rem;
}

.journeySection > h1 {
  margin-bottom: 5rem;
}

.skillSetSection {
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.stickyContainer {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 22rem 22rem;
  grid-row: auto auto;
  grid-column-gap: 7rem;
  grid-row-gap: 5rem;
}
