@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body {
  margin: 0;
  background-color: #373844;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

@media (max-width: 600px) {
  body {
    display: flex;
  }
}
