@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

#__next {
  z-index: -2 !important;
}

html {
  z-index: -2;
}

body {
  margin: 0;
  background-color: #373844;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.15rem;
  z-index: -2;
}

@media (max-width: 700px) {
  body {
    display: flex;
  }
}
