.aStyle {
  text-align: center;
}

.container {
  margin-left: 1rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 40px;
}

@media (max-width: 1054px) {
  .container {
    margin-left: 0;
    margin-bottom: 0.16rem;
  }
}
