@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.speechAlign {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10rem;
}
.speechAlign div {
  overflow: visible !important;
}

.me {
  position: relative;
  animation: fromBottomToPosition 3s ease-out;
}

@keyframes fromBottomToPosition {
  0% {
    bottom: 100rem;
  }
  80% {
    bottom: 3rem;
  }
  95% {
    bottom: 0.5rem;
  }
  100% {
    bottom: 0;
  }
}

.speechBalloon {
  width: 43.75rem;
  height: 23.4375rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.imageBalloon {
  z-index: 0;
}

.speechBalloon button {
  position: relative;
  z-index: 1;
  width: 600px;
  height: 240px;
  border: none;
  background-color: transparent;
  font-family: 'Press Start 2P';
  font-size: 1.5rem;
  text-align: left;
  outline: none;
  box-shadow: none;
}
