@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.speechAlign {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.speechAlign div {
  overflow: visible !important;
}

.me {
  z-index: -1;
  position: relative;
  animation: fromBottomToPosition 3s ease-out;
}

@keyframes fromBottomToPosition {
  0% {
    bottom: 100rem;
  }
  80% {
    bottom: 3rem;
  }
  95% {
    bottom: 0.5rem;
  }
  100% {
    bottom: 0;
  }
}

.speechBalloon {
  margin-bottom: 15rem;
  width: 43.75rem;
  height: 23.4375rem;
  display: flex;
  justify-content: center;
  position: relative;
  visibility: hidden;
  animation: balloonAppears forwards;
  animation-delay: 3.5s;
}

@keyframes balloonAppears {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.imageBalloon {
  z-index: 0;
}

.speechBalloon button {
  position: relative;
  z-index: 1;
  width: 600px;
  height: 230px;
  border: none;
  background-color: transparent;
  font-family: 'Press Start 2P';
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  text-align: left;
  outline: none;
  box-shadow: none;
}

@media (max-width: 700px) {
  .speechBalloon {
    display: none;
  }
}
